.flex-container{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}



.grid-container{
    
    margin: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: 30% 30% ;
    

}
.blau {
    display: flex;
    color: 
    white;
    background-color: blue;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;

    border: 10px solid rgb(0, 255, 51);
    
}
    

.grün{
    display: flex;
    background-color: green;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
}
.rot {
    display: flex;
    background-color: red;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;

}



.gelb{
    display: flex;
    background-color: yellow;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    grid-column: 4;
}

.orange
{
    display: flex;
    background-color: orange;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.violett{
    display: flex;
    background-color: violet;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.braun{
    display: flex;
    background-color: brown;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    grid
    
}
.schwarz{
    display: flex;
    color: white;
    background-color: black;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.pink{
    display: flex;
    background-color: pink;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 850px){
    body{
        background-color: rgb(0, 255, 242);
        transition: 0.5s ease;
    }
}

@media  ( max-width: 800px){
    .grid-container{
        
        display: grid;
        grid-template-columns: repeat(2, 30%);
        grid-template-rows: repeat(6, 20%);
    }
    body{
        background-color: rgb(255, 0, 0);
        transition: 0.5s ease;
    }
}
@media (max-width: 700px){
    body{
        background-color: rgb(241, 140, 8);
        transition: 0.5s ease;
    }
}

@media (max-width: 600px){
    body{
        background-color: rgb(237, 226, 7);
        transition: 0.5s ease;
    }
}

@media (max-width: 500px){
    body{
        background-color: chartreuse;
        transition: 0.5s ease;
    }
}

@media (max-width: 400px){
    body{
        background-color: rgb(13, 0, 255);
        transition: 0.5s ease;
    }
}





@media (max-height: 500px){
    body{
        background-color: rgb(29, 112, 160);
        transition: 0.5s ease;
    }
}

@media (max-height: 750px)