body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navigation */
header {
    background: #5a4f49;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    padding: 15px 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Layout */
main {
    display: flex;
    min-height: 400px;
}

/* Content links */
.content {
    flex: 3;
    padding: 20px;
    background: #eee;
}

/* Sidebar rechts */
.sidebar {
    flex: 1;
    background: orange;
    padding: 20px;
}

/* Footer */
footer {
    background: #5a4f49;
    color: white;
    padding: 20px;
}