.erste{

    height: 20%;
    width: 10%;
    border: 5px dotted blue;
    padding: 20%;
    margin: 5%;
    box-sizing: border-box;

}

.zweite{
    height: 20%;
    width: 10%;
    border: 5px dotted blue;
    padding: 20%;
    margin: 5%;
    box-sizing:content-box;
    

}

.dritte {

    height: 5%;
    width: 5%;
    border: 5px dashed red;
    padding: 10%;
    margin: 5%;
    box-sizing: content-box;
}


img{
    float: left;
    width: 20%;
    height: 20%;
}